<div class="container-fluid pull-left">
    <h3>Total: $ <input id="totalSalePrice" value="0" style="border-width: 0px" readonly ></h3>
</div>
<div class="col-lg-12">
    <!-- <input type="text" name="name" id="searchArt" value="" onkeypress="searchArticle(event);"> -->
    <table class="table table-condensed table-responsive" id="linesList">
        <thead>
            <tr>
                <th>Código</th>
                <th>Cantidad</th>
                <th>Artículo</th>
                <th>Descripción</th>
                <th>Precio unitario</th>
                <th>Precio total</th>
                <th colspan="1"></th>
            </tr>
        </thead>
        <tbody id="showArt">
            <tr>
                <input type="hidden" id="totalLines" name="name" value="0">
                <input type="hidden" id="article_id" name="name" value="">
                <td>
                    <input type="text" class="form-control" name="name" id="searchArt" onkeypress="searchArticle(event);">
                </td>
                <td>
                    <input type="number" class="form-control" name="name" id="amountArt"
                        onkeypress="addArticle(event);" onfocus="this.select();">
                </td>
                <td>
                    <input type="textarea" class="form-control" name="name" id="nameArt" onkeypress="addArticle(event);">
                </td>
                <td>
                    <input type="text" class="form-control" name="name" id="descriptionArt" onkeypress="addArticle(event);">
                </td>
                <td>
                    <input type="number" class="form-control" name="name" id="priceArt" onkeypress="addArticle(event);">
                </td>
                <td>
                    <input type="number" class="form-control" name="name" id="totalPriceArt" onkeypress="addArticle(event);">
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="pull-right">
        <%= link_to 'Cancelar', "#", class: "btn btn-danger" %>
        <%= link_to 'Aceptar', "#", class: "btn btn-success", onclick: 'saveLines();' %>
    </div>

</div>
