<div class="col-lg-12">
    <!-- <input type="text" name="name" id="searchArt" value="" onkeypress="searchArticle(event);"> -->
    <form class="" id="new_sale" action="/sales" method="post">
        <div class="container-fluid pull-left">
            <h3>Total: $ <input id="totalSalePrice" value="0" type='number' name="sale[total_price]" style="border-width: 0px" readonly ></h3>
        </div>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <table class="table table-condensed table-responsive" id="linesList">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Cantidad</th>
                    <th>Artículo</th>
                    <th>Descripción</th>
                    <th>Precio unitario</th>
                    <th>Precio total</th>
                    <th colspan="1"></th>
                </tr>
            </thead>
            <tbody id="showArt">
                <tr>
                    <input type="hidden" id="totalLines" value="0">
                    <input type="hidden" id="article_id" value="">
                    <td>
                        <input type="number" class="form-control" id="searchArt" autofocus="autofocus" onkeypress="searchArticle(event);">
                    </td>
                    <td>
                        <input type="number" class="form-control" id="amountArt" min="1" max="100"
                            onkeypress="addArticle(event);" onfocus="this.select();" readonly>
                    </td>
                    <td>
                        <input type="textarea" class="form-control" id="nameArt" onkeypress="addArticle(event);" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="descriptionArt" onkeypress="addArticle(event);" readonly>
                    </td>
                    <td>
                        <input type="number" class="form-control" id="priceArt" min="0" onkeypress="addArticle(event);" readonly>
                    </td>
                    <td>
                        <input type="number" class="form-control" id="totalPriceArt" min="0" onkeypress="addArticle(event);" readonly>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="pull-right">
            <%= link_to 'Cancelar', root_path, class: "btn btn-danger", data: {confirm: "¿Está seguro que desea cancelar?"} %>
            <!-- <input id="commitBtn"name="commit" type="submit" value="Aceptar" class="btn btn-success", onclick='saveLines();' disabled> -->
            <button type="button" id="commitBtn" class="btn btn-info " data-toggle="modal" data-target="#modalSale" onclick='printTotal();' disabled>Aceptar</button>
        </div>

        <!-- Modal confirmation -->
        <div class="modal fade" id="modalSale" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Confirmar venta:</h4>
              </div>
              <div class="modal-body">
                <!-- <h2>Total: $ <span id='totalConfirmation'></span></h2> -->
                <h2>Total: $ <input id="totalConfirmation" value="0" type='number' style="border-width: 0px" readonly ></h2>
                <h2>Entregado: $ <input type="number" id="clientAmount" name="name" min="0" step="any" onkeyup="calculateChangeValue(this);" autofocus="autofocus"></h2>
                <h2>Vuelto: $ <input id='changeValue' name="name" style="border-width: 0px" value="" readonly></h2>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
                  <input name="commit" type="submit" value="Confirmar" class="btn btn-success" >
              </div>
            </div>
            <!-- End modal content -->
          </div>
        </div>
        <!-- End modal confirmation-->

    </form>

    <script type="text/javascript">
    $('#new_sale').on('keyup keypress', function(e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
        e.preventDefault();
        return false;
        }
    });
    $('.modal').on('shown.bs.modal', function() {
      $(this).find('[autofocus]').focus();
    });
    </script>

</div>
